.cataloglist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px 32px;
}

.catalogListItem {
  width: calc((100% - 96px) / 4);
}

.carTitlePriceWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.carTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  font-family: "Manrope", sans-serif;
}
.span {
  color: #3470ff;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8d929a;
  margin-bottom: 4px;
  font-family: "Manrope", sans-serif;
}
.text:last-child {
  margin-bottom: 0;
}

.overwievWrapper {
  margin-bottom: 32px;
}

.imageWrapper {
  overflow: hidden;
  margin-bottom: 16px;
  border-radius: 12px;
  position: relative;
}

.wrapper {
  padding-bottom: 80px;
}

.iconHeart {
  position: absolute;
  z-index: 998;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.iconHeart:hover {
  stroke: #3470ff;
}
