.empty {
  color: black;
  position: relative;
  z-index: 1;
  display: block;
  height: 100vh;
}
.buttonWrapper {
  margin-bottom: 124px;
}

.loaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 9999;
}
