@import "modern-normalize";
@import "flatpickr/dist/flatpickr.min.css";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #101828;
  background-color: #fff;
  font-family: var(--font-manrope-sans);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;
}
